apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 257768852437.dkr.ecr.us-west-2.amazonaws.com/chatbot-frontend:latest
        ports:
        - containerPort: 80